* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #2e2e2e;
}
#menu {
  position: fixed;
  top: 100px;
  width: 100%;
  display: none;
  background: #fff;
}
#menu ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav ul li .item {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 15px;
}

header {
  position: sticky;
  top: 10px;
  background: #9728eb;
  display: flex;
  justify-content: space-between;
}
.box-left {
  position: relative;
  left: 50px;
  display: flex;
  align-items: center;
}
.logo {
  color: #fff;
  margin: 0 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
a {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 10px;
  color: #fff;
  border-radius: 5px;
  font-size: bold;
}
.cursor:hover a {
  color: #000;
}
.box-right {
  position: relative;
  right: 50px;
  display: flex;
  align-items: center;
}
.icon ion-icon {
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
}
i {
  display: none;
}
.title {
  display: flex;
  justify-content: center;
  color: #fff;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 15px;
  margin: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  transition: 0.95s;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.25);
}
.card:hover {
  transform: rotate();
  transform: rotateX(20deg) rotateY(-25deg) rotateZ(10deg);
  box-shadow: 0 0 80px 10px #f8f7f7;
}
.img {
  width: 350px;
  height: 250px;
}
.img img {
  width: 100%;
}
.text {
  text-align: center;
}
#demo {
  color: #fff;
  position: relative;
  top: 2px;
  font-size: 30px;
}
.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor a {
  color: #000;
  background: #eee;
}
.cursor .icon {
  transition: 0.75s;
  transform: translateX(-110px);
}
.cursor:hover .icon {
  transform: translateX(0px);
  color: #000;
}

@media (max-width: 1080px) {
  section {
    width: 100%;
    margin: auto auto;
  }
  header {
    padding: 15px;
  }
  ul {
    display: none;
    transition: 1s;
  }
  .title {
    text-align: center;
  }
  .card {
    margin: 20px 0;
  }
  i {
    color: #fff;
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
}
@media (max-width: 748px) {
}
@media (max-width: 390px) {
  #demo {
    display: none;
  }
  .icon {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    position: relative;
    right: 50px;
  }
  i {
    display: none;
  }
}
